*{
    padding: 0;
    margin: 0;
}

.hero{
    background-image: url("https://res.cloudinary.com/dkzwl4q1p/image/upload/v1728714626/hero_rpite3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}   

@media (max-width: 768px) { /* md breakpoint */
    .hero h1{
        font-size: 4em !important;
    }
  }